.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  display: grid;
  grid-auto-rows: 1fr;
  gap: 16px;
  padding: 0;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media screen and (max-width: 1044px) {
  .photo-grid {
   gap: 14px;
   margin: 0 48px;
  }
}


@media screen and (max-width: 788px) {
  .photo-grid {
    gap: 16px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 340px) {
  .photo-grid {
    gap: 12px;
    margin: 0 16px;
  }
}