.lead {
  margin: 50px auto 98px;
  max-width: 984px;
}

@media screen and (max-width: 1044px) {
    .lead {
      margin: 48px auto 92px;
    }
  }

@media screen and (max-width: 788px) {
    .lead {
      margin: 48px auto 88px;
    }
  }
  
  @media screen and (max-width: 340px) {
    .lead {
      margin: 50px auto 64px;
    }
  }