.cover__subtitle {
  margin: 0 auto;
  padding: 0;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
  margin-top: 32px;

}

 
 @media screen and (max-width: 750px) and (min-width: 350px) {
    .cover__subtitle {
      max-width: 60%;
      font-size: 3vw;
      line-height: 3vw;
    }
  }

  @media screen and (max-width: 350px) {
    .cover__subtitle {
      font-size: 14px;
      line-height: 16px;
      margin-top: 16px;
    }
  }

