.footer__link {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  margin-right: 18px;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) and (min-width: 700px) {
  .footer__link {
    font-size: 2vw;
    line-height: 2vw;
  }
}

@media screen and (max-width: 700px) /* and (min-width: 340px) */ {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
/* 
@media screen and (max-width: 340px) {
  .footer__link  {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 32px;
  }
} */