.cover {
  margin: 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 1044px) {
    .cover {
      margin: 0;
    }
  }
  
  @media screen and (max-width: 340px) {
    .cover {
      margin: 0;
    }
  }
