.cover {
  margin: 0 auto;
  padding: 0;
  max-width: 1184px;
  min-height: 740px; 
  display: flex;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1044px) {
    .cover {
      margin: 0;
      min-height: 640px;
    }
  }
  
  @media screen and (max-width: 850px) {
    .cover {
      min-height: 480px;
    }
  }

  @media screen and (max-width: 750px) and (min-width: 350px){
    .cover {
      min-height: 70vw;
    }
  }

  @media screen and (max-width: 350px) {
    .cover {
      min-height: 200px;
    }
  }


  





/* @media screen and (max-width: 750px) and (min-width: 400px) {
  .cover__link {
    max-width: 60%;
    font-size: 8vw;
    line-height: 8vw;
  }
} */

