.header__tap-link {
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  margin-right: 18px;
}

.header__tap-link:last-child {
  margin-right: 0;
}

.header__tap-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 340px) {
  .header__tap-link {
    font-size: 18px;
    line-height: 20px;
  }
}

