.lead__caption {
  font-size: 10px;
  line-height: 14px;
  font-weight: normal; 
  margin: 8px 0 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) and (min-width: 340px) {
  .lead__caption {
    margin: 8px 24px 0;
  }
}


@media screen and (max-width: 340px) {
    .lead__caption {
      margin: 8px 16px 0;
    }
  }