.cover__title {
  margin: 245px auto 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  max-width: 560px;
  text-align: center;
  z-index: 1;
  grid-column: 1/3;
  grid-row: 1/3;
}

@media screen and (max-width: 1044px) {
    .cover__title {
      margin: 195px auto 0;
    }
  }
  
  @media screen and (max-width: 788px) {
    .cover__title {
      margin: 115px auto 0;
    }
  }

  @media screen and (max-width: 555px) {
    .cover__title {
      margin: 33px auto 0;
      font-size: 32px;
      line-height: 35px;
    }
  }