.cover__title {
  margin: 0 auto;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  max-width: 560px;
  text-align: center;
  z-index: 2;

}

  @media screen and (max-width: 750px) and (min-width: 350px) {
    .cover__title {
      max-width: 60%;
      font-size: 8vw;
      line-height: 8vw;
    }
  }

  @media screen and (max-width: 350px) {
    .cover__title {
      font-size: 32px;
      line-height: 35px;
    }
  }