.footer {
  margin: 92px auto 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 200px;
  max-width: 1184px;
}

@media screen and (max-width: 1250px) {
  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 788px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 680px) {
  .footer {
    margin: 64px 16px 27px;
  }
}

@media screen and (max-width: 660px) {
  .footer {
    flex-direction: column;
  }
} 