.footer {
  margin: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 187px;
}

@media screen and (max-width: 788px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 340px) {
  .footer {
    margin: 64px auto 47px 16px;
  }
}