.intro__title {
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
  margin: 0 auto;
}

@media screen and (max-width: 767px) and (min-width: 340px) {
  .intro__title {
    font-size: 9vw;
    line-height: 9vw;
  }
}


@media screen and (max-width: 340px) {
    .intro__title {
      font-size: 32px;
      line-height: 35px;
    }
  }